**/jsconfig.json
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

.eslintignore
.gitignore
.github/**
.vscode/**
gulpfile.js
node_modules
webpack.config.js
out
src

CODE_OF_CONDUCT.md
CONTRIBUTING.md
CODEOWNERS

.DS_Store
