**/jsconfig.json
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

tsconfig.base.json
.eslintignore
.gitignore
.github/**
.vscode/**
gulpfile.js
node_modules
build.ts
src
test

CODE_OF_CONDUCT.md
CONTRIBUTING.md
CODEOWNERS

.DS_Store
