.vscode/**
.vscode-test/**
out/test/**
src/**
test/**
.gitignore
.github/**
.git/**
**/jsconfig.json
**/*.map
**/.eslintrc.json
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
gulpfile.js
node_modules
bazel-eclipse/**
!bazel-eclipse/bundles/com.salesforce.bazel.eclipse.common/target/com.salesforce.bazel.eclipse.common.jar
!bazel-eclipse/bundles/com.salesforce.b2eclipse.jdt.ls/target/com.salesforce.b2eclipse.jdt.ls.jar
!bazel-eclipse/bundles/com.salesforce.bazel-java-sdk/target/com.salesforce.bazel-java-sdk.jar
README.md
